#parse( "includes/header.vm" )

#macro(commandinfo $command $info)
<code>$command</code> - $info
#end

<h1>Command Console Commands</h1>


<h2>Canvases</h2>

<p>#commandinfo("canvas_list", "This will list all canvases with their IDs")</p>

<p>#commandinfo("canvas_contents <b>uuid</b>","Lists the contents of a canvas")</p>

<p>#commandinfo("canvas_clear <b>uuid</b>","Clears the canvas")</p>
	
<h2>Groups</h2>
<p>
	#commandinfo("group_copy <b>uuid</b> <b>canvas_uuid</b> [shift_x shift_y]","Copies a group to a new canvas, shifting all coordinates if requested")
</p>
<p>
	#commandinfo("group_delete <b>uuid</b>","Deletes a group")
</p>

<h2>Strokes</h2>
<p>
	#commandinfo("stroke_delete <b>uuid</b>","Deletes a stroke")
</p>

<h2>Configuration</h2>
<p>
	#commandinfo("get <b>variable_name</b>","Returns the value of the requested variable")
</p>
<p>
	#commandinfo("set <b>variable_name</b> <b>value</b>","Sets the value of the requested variable")
</p>


<p>
	<code>
		<b class="syntaxkeyword">command</b>
		<b class="syntaxdefault">command</b>
		<b class="syntaxcomment">command</b>
		<b class="syntaxstring">command</b>
	</code>
</p>

#* blah
.source {
	font-family: Monaco, 'Courier New', monospace;
	font-size: 1.25em;
	line-height: 1.20em;
	padding: 0;
}

.syntaxbg {
	color: #fff;
}

.syntaxcomment {
	color: #FF8000;
}

.syntaxdefault {
	color: #00b;
}

.syntaxhtml {
	color: #000;
}

.syntaxkeyword {
	color: #070;
}

.syntaxstring {
	color: #d00;
}
*#


#parse( "includes/footer.vm" )